@using Sysme.Service.DTOs.Patients;

@model IEnumerable<PatientResultDto>

<h1>Patients</h1>
<br/>

<div class="container">
    <div class="row mb-3">
        @foreach(var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.FirstName @item.LastName</h5>
                    <p class="card-text">Id : @item.Id</p>
                    <p class="card-text">Email : @item.Email</p>
                    <p class="card-text">Phone : @item.Phone</p>
                    <a href="#" class="btn btn-success gradient-custom-4 text-body" asp-controller="Patients" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a href="#" class="btn btn-primary" asp-controller="Patients" asp-action="Detail" asp-route-id="@item.Id">Details</a>
                </div>
            </div>
        }
    </div>
</div>